ENV=dev
PORT=8080
DB_PATH=./data/todoapp.db
AUTH_PEPPER=change-this-to-a-random-secret
AUTH_COOKIE_SECRET=change-this-to-another-secret
ENCRYPTION_SECRET=change-this-to-a-third-secret
CORS_ORIGIN=http://localhost:5173
